{% load static %}
{% load blog_tags %}

<div class="col-lg-12">
    <div class="sidebar-item recent-posts">
        <div class="sidebar-heading">
            <h2>Recent Posts</h2>
        </div>
        <div class="content">
            <ul>
                {% for post in rec_posts %}
                    <li><a href="{% url 'blog_app:single_blog' pid=post.id %}">
                        <h5>{{ post.title }}</h5>
                        <span>{{ post.created_date|timesince }}</span>
                    </a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>